body, html {
margin: 0px;
padding: 0px;
text-align: center;
height: 100%;
font-family: 'Itim', cursive;    
font-weight: normal;
font-style: normal;
}
canvas {
margin-bottom: -4px;
max-height: 100%;
max-width: 100%;
}
iframe {
position: fixed;
top: 0px;
left: 50%;
margin-left: -76px;
}
div {
    text-align:center;
    padding:50px;
    font-family: 'Itim', cursive;  
   
    
} 

#wave {
    width: 250px;
    height: 250px;
    display: block;
}

